extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/" method="post")
    div
    div
      label(for="site-roots") Comma-delimited list of Search sites to scrape
    div
      input(type='text' id='siteRoots' name='siteRoots' style='width: 500px')
    div
    div
      label(for="search-text") Search Text
    div
      input(type='text' id='searchText' name='searchText' style='width: 500px')
    div
    div
      button(type='submit' class='btn btn-primary' id='start-crawl' value="OK") Crawl
